/*body styles affect the whole page*/
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #d9a9ec;
}
header {
  border: thin solid black;
}
/*sets the navigation list and link styles*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #fff0f5;
  background-color: #fffaf0;
}

nav ul li {
  float: left;
  padding:0px 180px;
}

nav ul li a {
  display: block;
  color:black;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #fff0f5;
}

nav ul li a.active {
  color: white;
  background-color: #4CAF50;
}


